In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame, Panel
from sklearn import preprocessing
pd.set_option('display.max_rows',15)

In [6]:
bitcoin = pd.read_csv ('/home/sunny/NWU/EECS349/Project/bitcoin_price.csv', parse_dates = True, index_col = [0])

In [7]:
bitcoin = bitcoin.sort_index(ascending = True)

In [8]:
bitcoin

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
2013-04-28,135.30,135.98,132.10,134.21,-,"1,500,520,000"
2013-04-29,134.44,147.49,134.00,144.54,-,"1,491,160,000"
2013-04-30,144.00,146.93,134.05,139.00,-,"1,597,780,000"
2013-05-01,139.00,139.89,107.72,116.99,-,"1,542,820,000"
2013-05-02,116.38,125.60,92.28,105.21,-,"1,292,190,000"
2013-05-03,106.25,108.13,79.10,97.75,-,"1,180,070,000"
2013-05-04,98.10,115.00,92.50,112.50,-,"1,089,890,000"
...,...,...,...,...,...,...
2018-02-14,8599.92,9518.54,8599.92,9494.63,"7,909,820,000","145,023,000,000"
2018-02-15,9488.32,10234.80,9395.58,10166.40,"9,062,540,000","160,025,000,000"
2018-02-16,10135.70,10324.10,9824.82,10233.90,"7,296,160,000","170,960,000,000"
2018-02-17,10207.50,11139.50,10149.40,11112.70,"8,660,880,000","172,191,000,000"
2018-02-18,11123.40,11349.80,10326.00,10551.80,"8,744,010,000","187,663,000,000"
2018-02-19,10552.60,11273.80,10513.20,11225.30,"7,652,090,000","178,055,000,000"
2018-02-20,11231.80,11958.50,11231.80,11403.70,"9,926,540,000","189,536,000,000"

In [25]:
bitVol = bitcoin['Volume']
bitVol

Date
2013-04-28                -
2013-04-29                -
2013-04-30                -
2013-05-01                -
2013-05-02                -
2013-05-03                -
2013-05-04                -
                  ...
2018-02-14    7,909,820,000
2018-02-15    9,062,540,000
2018-02-16    7,296,160,000
2018-02-17    8,660,880,000
2018-02-18    8,744,010,000
2018-02-19    7,652,090,000
2018-02-20    9,926,540,000
Name: Volume, Length: 1760, dtype: object

In [26]:
mean = 25801388.321167883

In [27]:
bitVol_2 = bitVol[bitVol == "-"]
bitVol_2 = bitVol_2.apply(lambda x: float(x.replace('-', '%f' % (mean))))
bitVolNorm_2 = np.log(bitVol_2)
bitVol_2

Date
2013-04-28    2.580139e+07
2013-04-29    2.580139e+07
2013-04-30    2.580139e+07
2013-05-01    2.580139e+07
2013-05-02    2.580139e+07
2013-05-03    2.580139e+07
2013-05-04    2.580139e+07
                  ...
2013-12-20    2.580139e+07
2013-12-21    2.580139e+07
2013-12-22    2.580139e+07
2013-12-23    2.580139e+07
2013-12-24    2.580139e+07
2013-12-25    2.580139e+07
2013-12-26    2.580139e+07
Name: Volume, Length: 243, dtype: float64

In [28]:
# bitVol = pd.DataFrame(bitVol)
bitVol

Date
2013-04-28                -
2013-04-29                -
2013-04-30                -
2013-05-01                -
2013-05-02                -
2013-05-03                -
2013-05-04                -
                  ...
2018-02-14    7,909,820,000
2018-02-15    9,062,540,000
2018-02-16    7,296,160,000
2018-02-17    8,660,880,000
2018-02-18    8,744,010,000
2018-02-19    7,652,090,000
2018-02-20    9,926,540,000
Name: Volume, Length: 1760, dtype: object

In [46]:
bitVol.update(bitVol_2)

In [47]:
bitVol

Date
2013-04-28      2.58014e+07
2013-04-29      2.58014e+07
2013-04-30      2.58014e+07
2013-05-01      2.58014e+07
2013-05-02      2.58014e+07
2013-05-03      2.58014e+07
2013-05-04      2.58014e+07
                  ...
2018-02-14    7,909,820,000
2018-02-15    9,062,540,000
2018-02-16    7,296,160,000
2018-02-17    8,660,880,000
2018-02-18    8,744,010,000
2018-02-19    7,652,090,000
2018-02-20    9,926,540,000
Name: Volume, Length: 1760, dtype: object

In [1]:
import tensorflow as tf

/home/sunny/.conda/envs/py3env/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
# define a and b as placeholder
a = tf.placeholder(dtype = tf.int8, name = "a")
b = tf.placeholder(dtype = tf.int8, name = "b")

# define an addition
c = tf.add(a, b, name = "c")

# initialize the graph
sess = tf.Session()

# run the graph
result = sess.run(c, feed_dict = {a : 5, b : 4})
print(result)

# create an event file
writer = tf.summary.FileWriter("./logs", sess.graph)

sess.close()

9